name: Test compare
on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]

jobs:
  run:
    if: contains(github.event.pull_request.labels.*.name, 'test-compare')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout action
        uses: actions/checkout@v3
        with:
          path: testAction

      - name: Test compare action
        uses: ./
        with:
          label: test-compare
